
.flex{
    display: flex;
    /* align-items: flex-end; */
    flex-direction: row;
    justify-content: space-around;
}
.flex div{
    padding: 10px 10px 0;
    flex-basis: 20%;
}
.flex .flex1{
    background: green;
}
.flex .flex2{
    background: indianred;
}
.flex .flex3{
    background: khaki;
}
