#grid{
    display: grid;
    /* grid-template-columns: 40% 30% 30%; */
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-column-gap: 1em;
    grid-row-gap: 1em; */
    grid-gap: 1em 1em;
    /* grid-auto-rows: minmax(100px, auto);
    justify-items: center;
    align-items: center; */
}
.grid{
    background: #6D214F;
    color: white;
    padding: 10px;
}
.grid:nth-child(odd){
    background: #3B3B98;
}
.grid:nth-child(4){
    /* grid-row: 2; */
    grid-column: 1/4;
}